//  ## LAYOUT  ----------------------------------------------------------------------//

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
:focus {
    outline: none !important;
}

html {
    background-color: #1A1D22;
    height: 100%;
}

body {
    background-color:  #1A1D22;
    display: flex;
    flex-direction: row;
    font-size: 100%;
    margin: 0;
    min-height: 100%;
}

.container {
    background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)  1000px);
    flex: 1;
}

.no-touch .container {
    background-attachment: fixed;
}

.main {
    padding: 100px 0 75px;
    position: relative;
}

section {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 15px;
}


/*  ## LAYOUT  ----------------------------------------------------------------------*/

.js.csstransitions .container {
    opacity: 0;
    transition: background-color 0.6s, opacity 0.6s;
}

.js.csstransitions.loaded .container {
    opacity: 1;
}


/*  ## LAYOUT  ----------------------------------------------------------------------*/

@media screen and (min-width: 690px) {

    .main {
        padding: 140px 0 75px;
    }

    section {
        padding: 0;
    }
}


/*  ## DOCS  ------------------------------------------------------------------------*/

.intro {
    margin: 0 auto 40px;
}

.docs {
    padding: 60px 0 0;
    margin: 0 auto 30px;
}

.docs h2:first-child {
    border-top: 2px solid white;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 60px;
}

