//  ## TABLES  ----------------------------------------------------------------------//

table {
    width: 100%;
}

th {
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

td {
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 25px;
}

th,
td {
    padding: 10px 20px;
    text-align: left;
    vertical-align: top;
}

tr:first-child td {
    padding: 20px 20px 10px;
}

tr:last-child td {
    padding: 10px 20px 20px;
}