//  ## FORMS  -----------------------------------------------------------------------//

fieldset {
    border: 0;
    margin: 0 0 20px;
    padding: 20px 0;
}

legend {
    color: #FFF;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

form div {
    margin: 0 0 20px;
}

form div:last-child {
    margin: 0;
}

label {
    color: rgba(255, 255, 255, 0.9);
    display: block;
    float: left;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    width: 100%;
}

input[type=text],
input[type=number],
input[type=email],
input[type=date],
input[type=password],
textarea {
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
    box-sizing: border-box;
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    padding: 0 10px;
    width: 100%;
}

textarea {
    line-height: 30px;
    min-height: 140px;
    overflow-y: scroll;
    padding: 5px;
    resize: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-input-placeholder {
    color: #999;
    font-style: italic;
}

:-moz-placeholder { // Firefox 18-
    color: #999;
    font-style: italic;
}

::-moz-placeholder {  // Firefox 19+
    color: #999;
    font-style: italic;
}

:-ms-input-placeholder {
    color: #999;
    font-style: italic;
}
