//  ## CTAs  ------------------------------------------------------------------------//

.cta,
.form-buttons {
    margin: 10px 0;
    overflow: hidden;
}

.cta a,
.form-buttons input {
    background-color: #FFF;
    border: 1px solid #FFF;
    color: #333;
    display: block;
    float: left;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.2em;
    line-height: 40px;
    padding: 0 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.form-buttons input {
    float: right;
    margin-left: 20px;
}

.cta a:hover,
.cta a:focus,
.cta a:active,
.form-buttons input:hover,
.form-buttons input:focus,
.form-buttons input:active {
    background-color: #0AC8FF;
    border: 1px solid #0AC8FF;
}

.cta-secondary a,
.form-buttons input[type=reset] {
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
}

.cta-secondary a:hover,
.cta-secondary a:focus,
.cta-secondary a:active,
.form-buttons input[type=reset]:hover,
.form-buttons input[type=reset]:focus,
.form-buttons input[type=reset]:active {
    background-color: transparent;
    border: 1px solid #0AC8FF;
    color: #0AC8FF;
}


