
/*
.page-feed {
    background-color: #302519;
}*/

.page-home .main {
//    padding: 80px 0 75px;
}

.page-home .main .intro h1 {
//    text-align: center;
}

.page-home .main .intro p {
//    text-align: center;
}