body {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.875;
    color: #FFF;
}

h1 {
    font-size: 55px;
    font-weight: 300;
    line-height: 60px;
    margin: 50px 0;
}

h2 {
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    margin: 40px 0;
}

h1 + h2.subheading {
    margin: -20px 0 30px;
}

h3 {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    margin: 35px 0;
}

h4 {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin: 25px 0;
}

h5 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15em;
    line-height: 25px;
    margin: 25px 0 20px;
    text-transform: uppercase;
}

h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin: 25px 0 15px;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

p {
    margin: 0 0 20px;
}

ul,
ol {
    line-height: 30px;
    margin: 40px 0;
    padding: 0 0 0 25px;
}

li {
    list-style-position: outside;
    margin: 0 0 10px;
    padding: 0;
}

blockquote {
    margin: 40px 0;
    padding: 5px 10px 5px 20px;
}

blockquote p {
    color: white;
    font-style: italic;
    line-height: 35px;
    font-size: 24px;
    margin: 0 0 15px;
}

blockquote p:last-child {
    margin: 0;
}

blockquote cite {
    font-style: normal;
}



a {
    color: #0AC8FF;
    text-decoration: none;
}

.error {
    color: #F00;
}


@media screen and (min-width: 700px) {

    ol,
    ul {
        padding: 0;
    }

}