---
section: "Home"
pageid: "home"
bodyclass: "page-home"
title: "Home"

published: true
layout: page.hbs

---

<section class="intro">

    <h1>Base project</h1>
    <!--<p>This is a static site “boilerplate” built with <a href="">Grunt</a>, <a href="http://assemble.io/">Assemble</a>, and love.</p>-->
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
    <p><a href="http://bbc.co.uk">BBC</a> | <a href="#section-typography">Typography</a> | <a href="#section-ctas">CTAs</a> | <a href="#section-forms">Forms</a> | <a href="#section-tables">Tables</a> | <a href="#section-code">Code</a></p>

</section>

<section class="docs" id="section-typography">

    <h2>Typography</h2>

    <div class="examples">

        <h1>Level One Heading</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

        <h2>Level Two Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

        <h3>Level Three Heading</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

        <h4>Level Four Heading</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

        <h5>Level Five Heading</h5>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

        <h6>Level Six Heading</h6>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh.</q></p>
            <footer>
                <cite><a href="#">Lorem ipsum dolor</a></cite>
            </footer>
        </blockquote>

        <p>Lorem ipsum dolor sit amet, <em>consectetuer adipiscing elit</em>. Phasellus hendrerit. <strong>Pellentesque</strong> aliquet nibh nec urna. In <u>nisi neque</u>, aliquet vel, dapibus id, mattis vel, nisi. <abbr title="example only">Sed</abbr> pretium, ligula <a href="#">sollicitudin</a> laoreet viverra, <a href="#" rel="external">tortor libero sodales leo</a>, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

        <h2>Lists</h2>

        <ul>
            <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
            <li>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</li>
            <li>Nulla sed leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
            <li>Fusce lacinia arcu et nulla. Nulla vitae mauris non felis mollis faucibus.</li>
        </ul>

        <ol>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
            <li>Vestibulum auctor dapibus neque.</li>
            <li>Nunc dignissim risus id metus.</li>
            <li>Cras ornare tristique elit.</li>
        </ol>

    </div>

</section>

<section class="docs" id="section-ctas">

    <h2>CTAs</h2>

    <div class="cta">
        <a href="#">Call to action</a>
    </div>

    <div class="cta cta-secondary">
        <a href="#">Less shouty</a>
    </div>

</section>

<section class="docs" id="section-forms">

    <h2>Forms</h2>

    <form action="#" method="post">
        <fieldset>
            <legend>Example form inputs</legend>

            <p class="form-instructions">* Required fields</p>

            <div class="form-item">
                <label for="item1">Text field</label>
                <input type="text" id="item1" name="item1" maxlength="60" placeholder="Placeholder text">
            </div>

            <div class="form-item">
                <label for="item2">Text field <span>*</span></label>
                <input type="text" id="item2" name="item2" required maxlength="60" placeholder="Placeholder text">
            </div>

            <div class="form-item">
                <label for="item3">Email address field</label>
                <input type="email" id="item3" name="item3" maxlength="255" placeholder="example@example.com">
            </div>

            <div class="form-item">
                <label for="item4">Plain number field</label>
                <input type="number" id="item4" name="item4" maxlength="60" placeholder="Number goes in here">
            </div>

            <div class="form-item">
                <label for="item5">Stepped number field</label>
                <input type="number" id="item5" name="item5" min="0" max="100" step="5" value="50">
            </div>

            <div class="form-item">
                <label for="item6">Date field</label>
                <input type="date" id="item6" name="item6">
            </div>

            <div class="form-item">
                <label for="item7">Password field</label>
                <input type="password" id="item7" name="item7">
            </div>

        </fieldset>

        <fieldset>
            <legend>Example form textarea</legend>

            <div class="form-item">
                <label for="item7">Textarea</label>
                <textarea id="item7" name="item7"></textarea>
            </div>

            <div class="form-item">
                <label for="item1">Text field</label>
                <input type="text" id="item1" name="item1" maxlength="60" placeholder="Placeholder text">
            </div>

        </fieldset>

        <div class="form-buttons">
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>

    </form>

</section>

<section class="docs" id="section-tables">

    <h2>Tables</h2>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Richard Stephenson</td>
                <td>Principal Web Developer</td>
                <td>Portland, Oregon</td>
            </tr>
            <tr>
                <td>Steven Gerrard</td>
                <td>Footballer</td>
                <td>Liverpool</td>
            </tr>
            <tr>
                <td>Helen Woodruff</td>
                <td>Dentist</td>
                <td>Selby</td>
            </tr>
            <tr>
                <td>Bob Mortimer</td>
                <td>Comedian</td>
                <td>Teeside</td>
            </tr>
        </tbody>
    </table>

</section>

<section class="docs" id="section-code">

    <h2>Code blocks</h2>

    <div class="code-block">
        <h6>JavaScript</h6>
        <pre class="lang-js"><code>
var rps = rps || {};

rps.nav = (function (window, $) {
    'use strict';

    // Check to see link is to another page
    checkInternalLink = function (e) {
        e.preventDefault();
        e.stopPropagation();
        if (this.pathname !== window.location.pathname) {
            rps.page.go(this.pathname);
        }
    };

    $('html').on('click', 'a[href^="/"]', checkInternalLink);

})(window, window.jQuery);
        </code></pre>
    </div>

    <div class="code-block">
        <h6>CSS</h6>
        <pre class="lang-css"><code>
p {
    color: rgba(255, 255, 255, 0.9);
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin: 0 0 20px;
}
        </code></pre>
    </div>

</section>
